doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Links
    body 
        h1 These links are available: 
        ul 
            li
                a(href="/items") View all Items 
            li 
                a(href="/warehouses") View all Warehouse Locations