doctype html
html(lang="en")
    head
        include ./partials/head.pug
        title Links
    body 
        h1 Hi! Welcome to the Inventory Tracker!
        h2 These links are available: 
        ul 
            li
                a(href="/items") View all Items 
            li 
                a(href="/warehouses") View all Warehouse Locations
            li 
                a(href="/items/new") Add new Item
            li 
                a(href="/warehouses/new") Add new Warehouse Location