doctype html
html(lang="en")
    head
        include ./partials/head.pug
        title Links
    body 
        h1 These links are available: 
        ul 
            li
                a(href="/items") View all Items 
            li 
                a(href="/warehouses") View all Warehouse Locations