doctype html
html(lang="en")
    head
        include ./partials/head.pug
        title Items
    body 
        h1 Items
        a.btn.btn-outline-dark(href="/items/new")
            i.fas.fa-plus
            | Add New Item
        if inventory.length == 0
            p No items found 
        else
            ul
                each item of inventory
                    li
                        a(href=`/items/${item._id}`) #{item.name}