body{
    margin:auto;
    width: 95%;
    margin-top: 1em;
}

.pseudobtn:hover{
    opacity: 0.5;
    cursor: pointer;
}
.pseudobtn{
    font-size: 1.5em;
}

.error{
    display: none;
    margin-left: 0.3em;
}

#saveBtn, #cancelBtn, #addingTags, #wareLocs{
    display: none;
}

.badge{
    font-size: 1em;
    margin:0.5em;
}

.badge-pill:nth-of-type(n){
    background-color: rgb(238, 100, 36);
}

.badge-pill:nth-of-type(2n){
    background-color: rgb(153, 197, 49);
}

.badge-pill:nth-of-type(3n){
    background-color: rgb(24, 173, 116);
}

.removeTag:hover{
    cursor:pointer;
}

.badge-pill:hover{
    cursor:default;
}